.counter-container {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.counter-button {
    border: none;
    border-radius: 10%;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter-button:nth-of-type(1) {
    transform: translateX(5px);
}

.counter-button:nth-of-type(2) {
    transform: translateX(-5px);
}

.counter-text {
    height: 40px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter-input {
    width: 60px;
    text-align: center;
}